{% extends "layouts/layout.jinja2" %}
{% set is_profile_view = True if page_title else None %}

{% block content %}
  <h1 class="inline-block">
    {% if is_profile_view %}
      <a href="/users">User: {{ page_title }}</a>
    {% else %}
      Users
    {% endif %}
  </h1>

  {% if is_profile_view %}
    <div class="btn close" style="float:right;" onclick="useInternalLink()">
      <a href="/users">X</a>
    </div>
  {% endif %}


  {% for user in users %}
    <ul id="{{ user.username }}">
      {% if not is_profile_view %}
        <li>
          <span class="field-name">User:</span>
          <span class="field-value"><a href="/users/{{ user.username }}">{{ user.username }}</a></span>
        </li>
      {% endif %}

      <!--
      <li>
        <span class="field-name">Email:</span>
        <span class="field-value"><a href="{{ user.email }}">{{ user.email }}</a></span>
      </li>
      <li>
        <span class="field-name">Created:</span>
        <span class="field-value">{{ user.created }}</span>
      </li>
      -->
      {% set profile_columns = ['bio', 'admin', 'id'] %}
      {% set exclude_columns = ['username'] %}
      {% for column in user.__table__.columns %}
        {% if column.name in exclude_columns %}{% continue %}{% endif %}
        {% if not is_profile_view and column.name in profile_columns %}{% continue %}{% endif %}
        {% set value = user[column.name] %}
        <li>
          <span class="field-name">
            {{ column.name | replace('_',' ') | title }}:
          </span>
          <span class="field-value">
            {% if column.name == 'username' %}
              <a href="/users/{{ value }}">{{ value }}</a>
            {% else %}
              {{ value|urlize }}
            {% endif %}
          </span>
        </li>
      {% endfor %}

      {% if is_profile_view %}
        <!--
        <li>
          <span class="field-name">Bio:</span>
          <span class="field-value">{{ user.bio }}</span>
        </li>
        <li>
          <span class="field-name">Admin:</span>
          <span class="field-value">{{ user.admin }}</span>
        </li>
        -->
        <hr>
        <li>
          <span class="field-name">Groups:</span>
          <span class="field-value">
            {% if user.groups %}
              <ul>
                {% for group in user.groups %}
                  <li><a href="/groups/{{group.group}}">{{group.group}}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </span>
        </li>
      {% endif %}
    </ul>
  {% endfor %}
{% endblock %}
