{% extends "layouts/layout.jinja2" %}
{% set is_profile_view = True if page_title else None %}

{% block content %}
  <h1 class="inline-block">
    {% if is_profile_view %}
      <a href="/users">User: {{ page_title }}</a>
    {% else %}
      Users
    {% endif %}
  </h1>

  {% if is_profile_view %}
    <div class="btn close" style="float:right;" onclick="useInternalLink()">
      <a href="/users">X</a>
    </div>
  {% endif %}


  {% for user in users %}
    <ul id="{{ user.username }}">
      {% if not is_profile_view %}
        <li>
          <span class="field-name">User:</span>
          <span class="field-value">
            <a href="/users/{{ user.username }}">{{ user.username }}</a>
            {% if user.groups %}
              <div class="inline-block tag yellow">
                <div class="text">{{user.groups|count}}</div>
              </div>
            {% endif %}
          </span>
        </li>
      {% endif %}

      {% set profile_columns = ['bio', 'admin', 'id', 'created_at', 'created_by'] %}
      {% set exclude_columns = ['username', 'updated_at','updated_by'] %}
      {% for column in user.__table__.columns %}
        {% if column.name in exclude_columns %}{% continue %}{% endif %}
        {% if not is_profile_view and column.name in profile_columns %}{% continue %}{% endif %}
        {% set value = user[column.name] %}
        <li>
          <span class="field-name">
            {{ column.name | replace('_',' ') | title }}:
          </span>
          <span class="field-value">
            {% if column.name == 'username' %}
              <a href="/users/{{ value }}">{{ value }}</a>
            {% elif column.type.__class__.__name__ == 'DateTime' %}
              {{ value.strftime('%Y-%m-%d %I:%M:%S %p %z') if value else None }}
            {% else %}
              {{ value|urlize }}
            {% endif %}
          </span>
        </li>
      {% endfor %}

      {% if is_profile_view %}
        <hr>
        <li class="highlight">
          <span class="field-name">Owns:</span>
          <span class="field-value">
            <ul>
            {% for group in user.owns %}
              <li>
                <a href="/groups/{{group.group}}">{{group.group}}</a></li>
            {% endfor %}
            </ul>
          </span>
        </li>
        <li class="highlight">
          <span class="field-name">Maintains:</span>
          <span class="field-value">
            <ul>
            {% for group in user.maintains %}
              <li>
                <a href="/groups/{{group.group}}">{{group.group}}</a></li>
            {% endfor %}
            </ul>
          </span>
        </li>
        <li class="highlight">
          <span class="field-name">Member of:</span>
          <span class="field-value">
            {% if user.groups %}
              <ul>
                {% for group in user.groups %}
                  <li><a href="/groups/{{group.group}}">{{group.group}}</a></li>
                {% endfor %}
              </ul>
            {% endif %}
          </span>
        </li>
      {% endif %}
    </ul>
  {% endfor %}
{% endblock %}
